<div class="booyah-box col-10 offset-1">
  <h1>words of wisdom</h1>
  <%= simple_form_for @record do |f| %>
    <%= f.input :name %>
    <%= f.input :title %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>
