<!DOCTYPE html>
<html>
  <head>
    <title>Goldmine2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <a class="navbar-brand" href="#">the goldmine</a> -->
  <%= link_to 'the goldmine: a break directory', root_path, class: 'navbar-brand' %>

    </head>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
      <!-- <a class="nav-link" href="#">Link</a> -->
      <%= link_to 'New Record', new_record_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
<h3>Music undoubtedly gives a lot of things, and in the commence of the 20th century it
  gave the world the wonder, of sampling. Musicians and producers found a way to revisit
  classic and often forgotten songs. They breat of new life and attributed 'respect due'
  to songs that they may have remembered from their parent's record collection and sometimes...
  obscure and lost 'gems'. Nevertheless, music had changed, and technology through samplers,
  and drum machines had paved the way on this new path. Welcome, the breaks. The term 'the
  breaks' had been 'coined' to describe the element of, and sources of this new tune.
  Producers imaginations and prowess of remixing and rearranging songs, sometimes recognizable
  tributes, sometimes crafty and abstract and fresh. It is most definitely encopassing of
  its own theory and ethos.
  this simple page is an inroduction to this art's ingredients,    the sample</h3>



    <%= yield %>
  </body>
  coded by: @rt3l0 $tudi0
</html>
